pandas
numpy
tensorflow
scikit-learn
matplotlib
mlflow
joblib
dvc
chardet
DateTime
seaborn
fastapi
uvicorn
pydantic
pytest
pytest-cov
requests
httpx
seaborn
apache-airflow
apache-airflow-providers-postgres
SQLAlchemy
protobuf
feast
email-validator
prometheus-clientstarlette
starlette